.jfx-button {
	-fx-background-color: -secondary-color;
	-fx-opacity: 0.67;
	-fx-text-fill: -text-color2;
	-fx-font-weight: 800;
}

.jfx-button .jfx-rippler {
	-jfx-rippler-fill: -ripple-color;
}

.jfx-button:hover {
	-fx-opacity: 1;
}
.left-body {
    -fx-background-color: -body-color;
}

.jfx-radio-button {
	-fx-selected-color: -primary-color;
	-fx-unselected-color: -secondary-color;
}

.jfx-check-box {
	-fx-checked-color: -primary-color;
	-fx-unchecked-color: -primary-color;
}

.data-field {
	-fx-label-float: true;
}

.error-label {
	-fx-text-fill: red;
	-fx-font-size: 8;
}